@import '../../node_modules/modern-normalize/modern-normalize.css';

h1 {
    text-align: center;
}

.palette {
    background-color: #fff;
    padding: 5px;
    margin: 0 auto;
    width: 900px;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.color-card {
    width: calc((100% - 20px) / 5);
    min-height: 150px;
    border: 1px solid black;
}

.color-card.active {
    border: 3px dashed red;
}

.color-swatch {
    cursor: pointer;
    height: 100px;
}

.color-meta {
    padding: 0 10px;
}
