@import '../../node_modules/modern-normalize/modern-normalize.css';

h1 {
    text-align: center;
}

.palette {
    background-color: #fff;
    padding: 5px;
    margin: 0 auto;
    width: 900px;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: auto;
}

.color-card {
    border: 1px solid black;
}

.color-card.active {
    border: 3px dashed red;
}

.color-swatch {
    cursor: pointer;
    height: 100px;
}

.color-meta {
    padding: 0 10px;
}
